{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
   "ecmaVersion": 2023,
   "sourceType": "module",
   "project": "tsconfig.json"
  },
  "plugins": [
   "prettier"
  ],
  "extends": ["prettier"],
  "rules": {
   "prettier/prettier": ["error"]
  }
 }